openapi: 3.0.3
info:
  title: AddressService API
  description: This is the address-service API of InfinityApp by jonnef
  version: 1.0.0
servers:
  - url: http://infinityapp-api.com
  - url: http://jonnef-api.com
paths:
  /address:
    description: Address Resource
    get:
      tags:
      - Address
      description: Get a list of addresses
      responses:
        200:
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addresses'
    post:
      tags:
      - Address
      description: Add a new Person
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addressInfo'
      responses:
        201:
          description: Successfully added
  /address/{adid}:
    description: Address methods with path parameter adid
    get:
      tags:
      - Address
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Success Response with Path Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addresses'
    patch:
      tags:
      - Address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addressInfo'
      responses:
        200:
          description: "Successfully changed data of address with adid: {adid}"
    delete:
      tags:
      - Address
      description: Delete Address by ADID
      parameters:
        - in: path
          name: ADID
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Successfully deleted the Address
components:
  schemas:
    address:
      allOf:
        - $ref: '#/components/schemas/id'
        - $ref: '#/components/schemas/addressInfo'
        - type: object
    addressInfo:
      type: object
      properties:
        street:
          type: string
          example: Duisburgerstraße
        houseNumber:
          type: string
          example: 145
        postCode:
          type: integer
          example: 40477
        city:
          type: string
          example: Düsseldorf
    addresses:
      type: array
      items:
        allOf:
        - $ref: '#/components/schemas/id'
        - $ref: '#/components/schemas/address'
    id:
      properties:
        ADID:
          type: integer
          nullable: false
          example: 0
      required:
        - ADID