openapi: 3.0.3
info:
  title: AddressService API
  description: This is the address-service API of InfinityApp by jonnef
  version: 1.0.0
servers:
  - url: http://infinityapp-api.com
  - url: http://jonnef-api.com
paths:
  /address:
    description: Address Resource
    get:
      tags:
      - Address
      description: Get a list of addresses
      responses:
        200:
          description: Success!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addresses'
    post:
    # todo: add new component schema without id
      tags:
      - Address
      description: Add a new Person
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/address'
      responses:
        201:
          description: Successfully added
  /address/{adid}:
    description: Address methods with path parameter adid
    get:
      tags:
      - Address
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Success Response with Path Parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addresses'
    delete:
      tags:
      - Address
      description: Delete Address by ADID
      parameters:
        - in: path
          name: ADID
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Successfully deleted the Address
    patch:
    # todo: change to requestbody, use address schema without id (look post)
      tags:
      - Address
      parameters:
        - in: path
          name: ADID
          required: true
          schema:
            type: integer
        - in: query
          name: street
          schema:
            type: string
        - in: query
          name: houseNumber
          schema:
            type: string
        - in: query
          name: postCode
          schema:
            type: integer
        - in: query
          name: city
          schema:
            type: string
      responses:
        200:
          description: "Successfully changed data of address with adid: {adid}"
components:
  schemas:
    address:
      type: object
      properties:
        ADID:
          type: integer
          nullable: false
        street:
          type: string
          example: Duisburgerstraße
        houseNumber:
          type: string
          example: 145
        postCode:
          type: integer
          example: 40477
        city:
          type: string
          example: Düsseldorf
    addresses:
      type: array
      format: address
      # todo: google how to use object address